$blue:#1D53FF;
$dark-blue:#31333A;
$orange: #FB8500;
$white: #ffffff;
$background-color: #F5F9FF;
$grey:#8F8F8F;
$light-blue:#A5B4FF;

$pink:#f1677a;
$light-pink:#f48594;
$blue-100:#002d40;
$blue-200:#00293a;
$blue-300:#002433;
$blue-400:#001f2d;
$yellow-100:#fce3c4;
$yellow-200:#fbd09b;
$glasses:#005e63;
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.15;
}
